{% if current_user.role == 'admin' %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'guest_base.html' %}
{% endif %}

{% block title %} NIN Update {% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <div class="{% if current_user.role == 'admin' %} container {% else %} container-fluid {% endif %}">
        <form method="post" action="{{ url_for('core.nin_update') }}">
            <div class="row my-2">
                <h6 class="card-title">Student NIN Update {{ total }} left</h6>
            </div>
            <div class="row justify-content-center">
                {% for student in students %}
                    <div class="card {% if current_user.role == 'admin' %} col-3 col-sm-3 col-lg-3 {% else %} col-3 col-sm-3 col-lg-3 {% endif %} m-1 px-0" style="width: {% if current_user.role == 'admin' %} 22rem {% else %} 22rem {% endif %};">
                        <div class="row {% if current_user.role == 'admin' %} mx-1 {% endif %}">
                            <div class="col-md-4 px-0">
                                {% if student.headshot %}
                                    <img src="{{ student.headshot }}" class="img-fluid rounded-left h-100 px-0 mx-0" alt="{{ student.first_name }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='nvit-logo.png') }}" class="img-fluid rounded-left h-100 px-0 mx-0" alt="{{ student.first_name }}">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body px-2 py-2">
                                    <div><h6 class="card-title text-uppercase" style="font-size: 11px;">{{ student.first_name|capitalize }} {{ student.middle_name|capitalize }} {{ student.last_name|capitalize }}</h6></div>
                                    <p class="card-text my-1" style="font-size: 11px">{{ student.student_no }}</p>
                                    <p class="card-text my-1" style="font-size: 10px;">{{ student.phone_number }}</p>
                                    <div class="d-flex justify-content-between align-center my-1">
                                        <span class="card-text" style="font-size: 11px"><b>Gender:</b>&nbsp;{{ student.gender|capitalize }}</span>
                                        <span class="card-text" style="font-size: 11px"><b>LGA:</b>&nbsp;{{ student.lga_of_origin|capitalize }}</span>
                                    </div>
                                    <form class="form-floating my-0" method="post" action="{{ url_for('core.nin_update') }}" novalidate>
                                        <div class="d-flex flex-column">
                                            <div class="form-group">
                                                <input type="hidden" name="id" value="{{ student.id }}">
                                            </div>
                                            <div class="input-group">
                                                <div class="col-9">
                                                    <input type="text" maxlength="11" class="form-control form-control-sm" name="means_of_id_no" id="nin" value="{% if student.record_sealed %} XXXXXXXXXXX {% else %} {{ student.means_of_id_no }} {% endif %}" aria-describedby="button-addon2" {% if student.record_sealed %} readonly="true" {%  endif %}>
                                                </div>
                                                {% if not student.record_sealed %}
                                                    <button class="btn btn-outline-secondary btn-xs col-3" type="submit" id="button-addon2" {% if student.record_sealed %} disabled="true" {% endif %}>
                                                        <i class="fa fa-plus-circle"></i>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}