{% extends 'print.html' %}

{% block title %} Student Album {% endblock %}

{% block content %}
    <div class="container-fluid" id="card" style="width: 100vw;">
        <div class="row mb-3" style="height: 45%;">
            <div class="card position-relative">
                <div class="position-absolute float-right" id="print" style="top: 20px; right: 20px;">
                    <button class="btn btn-xs btn-primary text-right" onclick="window.print();">
                        <i class="fa fa-print" size="24"></i>
                    </button>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center align-content-center h-100">
                        <h1 class="card-title text-center">New Vision Institute of Technology's IDEAS Project <br /> Assisted by World bank Candidates <br />Photo Album</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="{% if current_user.role == 'admin' or current_user.username == 'worldbank' %} albumcard {% else %} custom-card {% endif %}" style="--bs-columns: {% if current_user.role == 'admin' %} 4 {% else %} 5 {% endif %};">
            {% if students %}
                {% for student in students %}
                    <div class="" id="photoCard">
                        {% if student.headshot %}
                            <img id="headshot" src="{{ student.headshot }}" class="card-img-top {{ current_user.role == 'admin' }}" alt="{{ student.first_name }}" {% if current_user.role != 'admin' %} style="height: 40%;" {% endif %}>
                        {% else %}
                            <img src="{{ url_for('static', filename='nvit-logo.png') }}" class="card-img-top h-50" alt="{{ student.first_name }}">
                        {% endif %}
                        <div class="card-body px-2">
                            <div class="row no-gutters mb-1 mt-1">
                                <div class="col-4 card-text" style="font-size: 12px; font-weight: bold;">Name:&nbsp;</div>
                                <div class="col-8"><h6 class="card-text" style="font-size: 12px;">{{ student.full_name()|upper }}</h6></div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-4 card-text" style="font-size: 12px; font-weight: bold;">UID:&nbsp;</div>
                                <div class="col-8 card-text" style="font-size: 12px;">{{ student.student_no }}</div>
                            </div>
                            <hr class="my-1" />
                            <div class="row no-gutters">
                                <div class="col-4 card-text" style="font-size: 12px; font-weight: bold;">Course:&nbsp;</div>
                                <div class="col-8 card-text" style="font-size: 12px;">{{ student.course_of_study }}</div>
                            </div>
                            <div class="row no-gutters mb-1">
                                <div class="col-4 card-text" style="font-size: 12px; font-weight: bold;">Gender:&nbsp;</div>
                                <div class="col-8 card-text" style="font-size: 12px;">{{ student.gender|capitalize }}</div>
                            </div>
                            <div class="row no-gutters mb-1">
                                <div class="col-4 card-text" style="font-size: 12px; font-weight: bold;">Phone:&nbsp;</div>
                                <div class="col-8 card-text" style="font-size: 12px;">{{ student.phone_number|capitalize }}</div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-4 card-text" style="font-size: 12px; font-weight: bold;">Email:&nbsp;</div>
                                <div class="col-8 card-text" style="font-size: 10px;">{{ student.email}}</div>
                            </div>
                            <hr class="my-1" />
                            <div class="d-flex justify-content-between align-center">
                                <span class="card-text" style="font-size: 12px"><b>State:</b>&nbsp;{{ student.state_of_origin|capitalize }}</span>
                                <span class="card-text" style="font-size: 12px"><b>LGA:</b>&nbsp;{{ student.lga_of_origin|capitalize }}</span>
                            </div>
                            <div class="mb-1">
                                {% if student.means_of_id_no %}
                                    <span class="card-text" style="font-size: 12px;"><b>NIN:</b> {{ student.means_of_id_no }}</span>
                                {% else %}
                                    <span class="card-text" style="font-size: 12px;">Pending</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-12 d-flex justify-content-center align-center">
                    <h5>No Record found!</h5>
                </div>
            {% endif %}
        </div>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: "Inter", sans-serif;
        }
    </style>
{% endblock %}