{% if current_user.role == 'admin' %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'guest_base.html' %}
{% endif %}


{% block title %} Attendance {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col" style="border-radius: 20px;padding: 0px;background-color:rgb(211,211,211,0.5);margin:0px 10px 10px 10px;min-height: 600px;">
            <h2 style="border-radius: 20px 20px 0px 0px;background-color: #0b4c61;color: white;padding: 10px;display:flex;justify-content: center">Today's
                Admitted List<i class="material-icons">assignment</i></h2>
            <div style="display:flex;justify-content: center; align-items: center">
                <a style="text-decoration: none" href="/start">
                    <button
                        style="font-size: 24px;font-weight: bold;border-radius: 10px;width:490px;padding: 10px;margin-top: 30px;margin-bottom: 30px;"
                        type='submit' class='btn btn-primary'>Face Capture<i
                            class="material-icons">beenhere</i></button>
                </a>
                <a href="/download-list">
                    <button class="btn btn-primary">Download List</button>
                </a>
            </div>
            <table style="background-color: white;">
                <tr>
                    <th>Serial No</th>
                    <th>Student No</th>
                    <th>Full Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Course Applied</th>
                    <th>Headshot</th>
                    <th>Signature</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
                {% if l %}

                {% for i in range(l) %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ names[i] }}</td>
                    <td>{{ rolls[i] }}</td>
                    <td>{{ times[i] }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}