{% extends 'guest_base.html' %}

{% block title %} NIN Update {% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{{ url_for('core.nin_update') }}">
            <div class="row my-2">
                <h6 class="btn btn-xs btn-primary">Student NIN Update</h6>
            </div>
            <div class="row">
                {% for student in students %}
                    <div class="card col-3 col-sm-3 col-lg-3 px-0 g-1">
                        <div class="row g-0">
                            <div class="col-md-4 px-0">
                                {% if student.headshot %}
                                    <img src="{{ student.headshot }}" class="img-fluid rounded-start h-100 mx-0 px-0" alt="{{ student.first_name }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='nvit-logo.png') }}" class="img-fluid rounded-start h-100 mx-0 px-0" alt="{{ student.first_name }}">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="col-12"><h6 class="card-title text-uppercase" style="font-size: 12px;">{{ student.first_name|capitalize }} {{ student.middle_name|capitalize }} {{ student.last_name|capitalize }}</h6></div>
                                    <p class="card-text my-1" style="font-size: 12px">{{ student.student_no }}</p>
                                    <div class="d-flex justify-content-between align-center">
                                        <span class="card-text" style="font-size: 12px"><b>Gender:</b>&nbsp;{{ student.gender|capitalize }}</span>
                                        <span class="card-text" style="font-size: 12px"><b>LGA:</b>&nbsp;{{ student.lga_of_origin|capitalize }}</span>
                                    </div>
                                    <form method="post" action="{{ url_for('core.nin_update') }}">
                                        <div class="d-flex flex-column mt-1">
                                            <div class="form-group">
                                                <input type="hidden" name="id" value="{{ student.id }}">
                                            </div>
                                            <div class="form-group d-flex justify-content-between align-content-center">
                                                <div class="col-2">
                                                    <label for="nin" class="col-form-label">NIN</label>
                                                </div>
                                                <div class="col-8">
                                                    <input type="text" class="form-control form-control-sm" name="means_of_id_no" id="nin" value="{{ student.means_of_id_no }}">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}