{% extends 'guest_base.html' %}

{% block title %} NIN Update {% endblock %}

{% block content %}
    <div class="container-fluid">
        <h5 class="my-2">Student NIN update</h5>
        <form method="post" action="{{ url_for('core.nin_update') }}">
            <div class="row float-lg-right mb-2">
                <button type='submit' class="btn btn-xs btn-primary col-lg-2">Bulk Update</button>
            </div>
            <div class="row">
                {% for student in students %}
                    <div class="card mx-2" style="max-width: 370px;">
                          <div class="row g-0">
                                <div class="col-md-4">
                                    {% if student.headshot %}
                                        <img src="{{ student.headshot }}" class="img-fluid rounded-start" alt="{{ student.first_name }}">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='nvit-logo.png') }}" class="img-fluid rounded-start" alt="{{ student.first_name }}">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                      <div class="card-body">
                                          <div class="col-8"><h6 class="card-title text-uppercase" style="font-size: 12px;">{{ student.first_name|capitalize }} {{ student.middle_name|capitalize }} {{ student.last_name|capitalize }}</h6></div>
                                          <p class="card-text my-1" style="font-size: 12px">{{ student.student_no }}</p>
                                          <div class="d-flex justify-content-between align-center">
                                              <span class="card-text" style="font-size: 12px"><b>Gender:</b>&nbsp;{{ student.gender|capitalize }}</span>
                                              <span class="card-text" style="font-size: 12px"><b>LGA:</b>&nbsp;{{ student.lga_of_origin|capitalize }}</span>
                                          </div>
                                          <div class="d-flex flex-column mt-2">
                                              <div class="form-group">
                                                  <input type="hidden" name="id[]" value="{{ student.id }}">
                                              </div>
                                              <div class="d-flex">
                                                  <label for="nin" class="form-label mr-3">NIN&nbsp;</label>
                                                  <input type="text" class="form-control" name="means_of_id_no[]" id="nin" value="{{ student.means_of_id_no }}">
                                              </div>
                                          </div>
                                      </div>
                                </div>
                          </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}