<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        {% if current_user.is_authenticated %}
            <div class="user-image">
                <img src="{{ url_for('static', filename='images/faces/face28.png') }}">
            </div>
            <div class="user-name">
                {{ current_user.full_name }}
            </div>
            <div class="user-designation">
                {{ current_user.role|capitalize }}
            </div>
        {% endif %}
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        {% if current_user.username == 'worldbank' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('student.album_list') }}">
                    <i class="icon-head menu-icon"></i>
                    <span class="menu-title">Student Album</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="icon-head menu-icon"></i>
                    <span class="menu-title">Applicants</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="{{ url_for('core.registered_students') }}">Registered</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{{ url_for('core.student_cards') }}">Album View</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{{ url_for('core.nin_update') }}">NIN Update</a></li>
                    </ul>
                </div>
            </li>
        {% endif %}
        {% if current_user.role == 'admin' %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="icon-grid menu-icon"></i>
                    <span class="menu-title">Settings</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="">Users</a></li>
                        <li class="nav-item"> <a class="nav-link" href="">Courses</a></li>
                    </ul>
                </div>
            </li>
        {% endif %}
    </ul>
</nav>
<!-- partial -->